@model IEnumerable<Prijava_Na_Tecaj>
@{
    ViewData["Title"] = "Prikaz prijava";
}
<partial name="_Notification" />
<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Popis prijava</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="PrijavaNaTecaj" asp-action="Create" class="btn btn-outline-primary">
                <i class="fa fa-plus"></i> &nbsp; Kreiraj prijavu
            </a>
        </div>
    </div>
</div>
    <br />
<table id="tblPrijava" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ID prijave
            </th>
            <th>
                Naziv tečaja
            </th>
            <th>
                Osoba
            </th>
            <th>
                Status prijave
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
@section Scripts{
    <script src="~/js/prijavanatecaj.js"></script>
}