@model IEnumerable<Narudzba>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />
<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Popis narudžbi</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Narudzba" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-patch-plus"></i> &nbsp; Kreiraj narudžbu
            </a>
        </div>
    </div>
</div>
    <br />
<table id="tblNarudzba" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ID narudžbe
            </th>
            <th>
                Naziv tečaja
            </th>
            <th>
                Osoba
            </th>
            <th>
                Status narudžbe
            </th>
            <th>
                Način plaćanja
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
@section Scripts{
    <script src="~/js/narudzba.js"></script>
}