@model WAZOT.Models.ViewModels.PrijavaNaTecajVM
@{
    ViewData["Title"] = "Kreiranje prijave";
}
<form method="post">
    <input hidden asp-for="PrijavaNaTecaj.OsobaOib" />
    <input hidden asp-for="PrijavaNaTecaj.TecajId" />
    <input hidden asp-for="PrijavaNaTecaj.Status_PrijaveId" />
    <div class="border p-3 mt-4">
        @ViewBag.notfilled
        <div class="row pb-2">
            <h2 class="text-primary">Prijavljivanje na tečaj</h2>
            <hr />
        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">Kreiraj prijavu</button>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-lg btn-outline-secondary" type="button" asp-controller="TecajPrijava" asp-action="Index">Povratak na popis tečaja</a>
            </div>
        </div>
    </div>

</form>

<section Scripts>
    <partial name="_ValidationScriptsPartial" />
</section>
