@model IEnumerable<Tecaj>
<partial name="_Notification" />

@{
    ViewData["Title"] = "Prijava za tečaj";
}

<div class="container" >
    <div class="row" id="kontenjer_tecajevi">
        <div class="col-12">
            <h2 class="mt-4 mb-4 text-center">Popis tečaja</h2>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/korisniktecajprijava.js"></script>
}