<partial name="_Notification" />

<figure class="text-center mt-3">
    <blockquote class="blockquote">
        <form>
        <button asp-area="Posjetitelj" asp-controller="Prijava" asp-action="Login" class="btn btn-outline-info my-2 my-sm-0" type="submit">Prijavite se kao Korisnik, Kreator tečaja ili Administrator</button>
        </form>
    </blockquote>
</figure>
