@model WAZOT.Models.Osoba
<p class="text-danger">@ViewBag.PrijavaMsg</p>
<form method="post">
   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Prijava</h2>
           <hr />
       </div>
        <div class="mb-3">
            <label asp-for="email">Email</label>
            <input asp-for="email" class="form-control" type="email"/>
        </div>
        <div class="mb-3">
            <label asp-for="lozinka">Lozinka</label>
            <input asp-for="lozinka" type="password" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="pin">PIN (4 znamenke)</label>
            <input asp-for="pin" maxlength="4" pattern="^[0-9]{4}$" required class="form-control"/>
            <span asp-validation-for="pin" class="text-danger"></span>
        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary w-auto" style="width:150px">Prijavi se</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Prijava" asp-action="Index" class="btn btn-outline-secondary w-auto">Povratak</a>
            </div>
        </div>
   </div>

</form>

<section Scripts><partial name="_ValidationScriptsPartial" />
</section>
@section Scripts{
    <script src="~/js/osoba.js"></script>
}