/* _content/WAZOT/Views/Shared/_LayoutAdministrator.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fw5vyuq9vz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fw5vyuq9vz] {
  color: #0077cc;
}

.btn-primary[b-fw5vyuq9vz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fw5vyuq9vz], .nav-pills .show > .nav-link[b-fw5vyuq9vz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fw5vyuq9vz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fw5vyuq9vz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fw5vyuq9vz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fw5vyuq9vz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fw5vyuq9vz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WAZOT/Views/Shared/_LayoutIndex.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z8jno7biab] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z8jno7biab] {
  color: #0077cc;
}

.btn-primary[b-z8jno7biab] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z8jno7biab], .nav-pills .show > .nav-link[b-z8jno7biab] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z8jno7biab] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z8jno7biab] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z8jno7biab] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z8jno7biab] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z8jno7biab] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WAZOT/Views/Shared/_LayoutKorisnik.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-acjbs1oz0o] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-acjbs1oz0o] {
  color: #0077cc;
}

.btn-primary[b-acjbs1oz0o] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-acjbs1oz0o], .nav-pills .show > .nav-link[b-acjbs1oz0o] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-acjbs1oz0o] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-acjbs1oz0o] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-acjbs1oz0o] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-acjbs1oz0o] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-acjbs1oz0o] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WAZOT/Views/Shared/_LayoutKreatorTecaja.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4k28vut0z4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4k28vut0z4] {
  color: #0077cc;
}

.btn-primary[b-4k28vut0z4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4k28vut0z4], .nav-pills .show > .nav-link[b-4k28vut0z4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4k28vut0z4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4k28vut0z4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4k28vut0z4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4k28vut0z4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4k28vut0z4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
