<partial name="_Notification" />
<figure class="text-center mt-3">

    <blockquote class="blockquote">
        <form>
        <button asp-area="Posjetitelj" asp-controller="Registracija" asp-action="KreatorTecaja" class="btn btn-outline-info my-2 my-sm-0" type="submit">Kreator tečaja</button>
        <button asp-area="Posjetitelj" asp-controller="Registracija" asp-action="Korisnik" class="btn btn-outline-info my-2 my-sm-0" type="submit">Korisnik</button>
        </form>
    </blockquote>
</figure>
