@model Razina_Prava
@{
    ViewData["Title"] = "Kreiranje razine prava";
}
<form method="post">
   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Kreiranje razine prava</h2>
           <hr />
       </div>

        <div class="mb-3">
            <label asp-for="Naziv">Naziv razine prava</label>
            <input asp-for="Naziv" class="form-control"/>
            <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Kreiraj razinu prava</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="RazinePrava" asp-action="Index" class="btn btn-secondary" style="width:150px">Povratak na popis razina prava</a>
            </div>
        </div>
   </div>

</form>

<section Scripts><partial name="_ValidationScriptsPartial" />
</section>
