@model Kategorija
@{
    ViewData["Title"] = "Brisanje kategorije";
}
<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden/>
   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Brisanje kategorije</h2>
           <hr />
       </div>

        <div class="mb-3">
            <label asp-for="Naziv">Naziv kategorije</label>
            <input asp-for="Naziv" disabled class="form-control"/>
        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-danger" style="width:150px">Obriši kategoriju</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Kategorija" asp-action="Index" class="btn btn-secondary" style="width:150px">Povratak na popis kategorija</a>
            </div>
        </div>
   </div>

</form>

<section Scripts><partial name="_ValidationScriptsPartial" />
</section>
