@model WAZOT.Models.ViewModels.VideozapisVM
@{
    ViewData["Title"] = "Uređivanje videozapisa";
}
<form method="post" asp-action="Edit">
    <input asp-for="Videozapis.Id" hidden/>
    <input asp-for="Videozapis.videozapis_putanja" hidden/>
    <input asp-for="Videozapis.videozapis_tip" hidden/>
    <input asp-for="Videozapis.TecajId" hidden/>
   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Prijenos videozapisa</h2>
           <hr />
       </div>
        <div class="mb-3">
            <label asp-for="Videozapis.videozapis_naziv">Naziv videozapisa</label>
            <input type="text" asp-for="Videozapis.videozapis_naziv" class="form-control"/>
            <span asp-validation-for="Videozapis.videozapis_naziv" class="text-danger"></span>
        </div>
       <div class="mb-3">
            <label asp-for="Videozapis.Cjelina_TecajaId">Cjelina</label>
            <select asp-for="Videozapis.Cjelina_TecajaId" asp-items="@Model.CjelinaList" class="form-select">
                <option disabled selected>--Odaberi cjelinu--</option>
            </select>
            <span asp-validation-for="Videozapis.Cjelina_TecajaId" class="text-danger"></span>
        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">Uredi videozapis</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="KreatorVideozapis" asp-action="Index" class="btn btn-outline-secondary w-auto">Povratak na popis videozapisa</a>
            </div>
        </div>
   </div>

</form>

<section Scripts><partial name="_ValidationScriptsPartial" />
</section>
