@model IEnumerable<Narudzba>
@{
    ViewData["Title"] = "Prikaz narudžbi";
}
<partial name="_Notification" />
<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Popis narudžbi</h2>
        </div>
    </div>
</div>
    <br />
<table id="tblNarudzba" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ID narudžbe
            </th>
            <th>
                Naziv tečaja
            </th>
            <th>
                Osoba
            </th>
            <th>
                Status narudžbe
            </th>
            <th>
                Način plaćanja
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
@section Scripts{
    <script src="~/js/upravljanjenarudzba.js"></script>
}