@model WAZOT.Models.ViewModels.TecajVM
@{
    ViewData["Title"] = "Kreiranje tečaja";
}
<form method="post" enctype="multipart/form-data">
   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Kreiranje tečaja</h2>
           <hr />
       </div>
        <div class="mb-3">
            <label asp-for="Tecaj.naziv">Naziv tečaja</label>
            <input asp-for="Tecaj.naziv" class="form-control"/>
            <span asp-validation-for="Tecaj.naziv" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tecaj.cijena">Cijena</label>
            <input type="number" asp-for="Tecaj.cijena" class="form-control" min="1" max="100" step="0.01"/>
            <span asp-validation-for="Tecaj.cijena" class="text-danger"></span>
        </div>
       <div class="mb-3">
            <label asp-for="Tecaj.opis">Opis</label>
            <input asp-for="Tecaj.opis" class="form-control"/>
            <span asp-validation-for="Tecaj.opis" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tecaj.OsobaOib">Vlasnik tečaja</label>
            <select asp-for="Tecaj.OsobaOib" asp-items="@Model.OsobaList" class="form-select">
                <option disabled selected>--Odaberi osobu--</option>
            </select>
            <span asp-validation-for="Tecaj.OsobaOib" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tecaj.KategorijaId">Kategorija</label>
            <select asp-for="Tecaj.KategorijaId" asp-items="@Model.KategorijaList" class="form-select" >
                <option disabled selected>--Odaberi kategoriju--</option>
            </select>
            <span asp-validation-for="Tecaj.KategorijaId" class="text-danger"></span>
        </div>
       <div class="mb-3">
            <label asp-for="Tecaj.slika">Slika</label>
            <input type="file" asp-for="Tecaj.slika" name="file" class="form-control" accept="image/*" id="file" onchange="return checkAndFilterImages()"/>
            <span asp-validation-for="Tecaj.slika" class="text-danger"></span>
        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Kreiraj tečaj</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Tecaj" asp-action="Index" class="btn btn-secondary" style="width:150px">Povratak na popis tečaja</a>
            </div>
        </div>
   </div>

</form>

<section Scripts><partial name="_ValidationScriptsPartial" />
</section>
@section Scripts{
    <script src="~/js/slika_validation.js"></script>
}