<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WAZOT</title>
    <link rel="stylesheet" href="~/css/bootwatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WAZOT.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />
    <script src="https://kit.fontawesome.com/33ab154de2.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WAZOT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" asp-area="Administrator" asp-controller="HomeAdmin" asp-action="Index">Početna</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="RazinePrava" asp-action="Index">Razine prava</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="StatusPrijave" asp-action="Index">Statusi prijava na tečaj</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="Osoba" asp-action="Index">Osobe</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="Tecaj" asp-action="Index">Tečajevi</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="CjelinaTecaja" asp-action="Index">Cjelina tečaja</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="OcjenaTecaja" asp-action="Index">Ocjene tečaja</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="Videozapis" asp-action="Index">Videozapisi</a>
        </li>
       <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="PrijavaNaTecaj" asp-action="Index">Prijave na tečaj</a>
        </li>
       <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="Kategorija" asp-action="Index">Kategorije</a>
        </li>
       <li class="nav-item">
           <a class="nav-link" asp-area="Administrator" asp-controller="OdobriPrijavu" asp-action="Index">Odobri prijavu</a>
        </li>
      </ul>
      <form class="d-flex">
        <button asp-area="Posjetitelj" asp-controller="Prijava" asp-Action="Logout" class="btn btn-outline-light my-2 my-sm-0" type="submit">Odjava</button>
      </form>
    </div>
  </div>
</nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark">
        <div class="container">
            &copy; 2022 - WAZOT
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
