@model WAZOT.Models.ViewModels.VideozapisVM
@{
    ViewData["Title"] = "Brisanje videozapisa";
}
<form method="post" asp-action="DeletePOST">
    <input asp-for="Videozapis" hidden/>
   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Brisanje videozapisa</h2>
           <hr />
       </div>
       <div class="mb-3">
            <label asp-for="Videozapis.Id">ID Videozapisa</label>
            <input type="text" asp-for="Videozapis.Id" name="file" class="form-control" disabled/>
            <span asp-validation-for="Videozapis.Id" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Videozapis.videozapis_naziv">Naziv videozapisa</label>
            <input type="text" asp-for="Videozapis.videozapis_naziv" name="file" class="form-control" disabled/>
            <span asp-validation-for="Videozapis.videozapis_naziv" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Videozapis.TecajId">Tečaj</label>
            <select asp-for="Videozapis.TecajId" asp-items="@Model.TecajList" class="form-select">
                <option disabled selected>--Odaberi tečaj--</option>
            </select>
            <span asp-validation-for="Videozapis.TecajId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Videozapis.videozapis_putanja">Putanja do videozapisa</label>
            <input type="text" asp-for="Videozapis.videozapis_putanja" name="file" class="form-control" disabled/>
            <span asp-validation-for="Videozapis.videozapis_putanja" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Videozapis.videozapis_tip">Tip videozapisa</label>
            <input type="text" asp-for="Videozapis.videozapis_tip" name="file" class="form-control" disabled/>
            <span asp-validation-for="Videozapis.videozapis_tip" class="text-danger"></span>
        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Obriši videozapis</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Videozapis" asp-action="Index" class="btn btn-secondary" style="width:150px">Povratak na popis videozapisa</a>
            </div>
        </div>
   </div>

</form>

<section Scripts><partial name="_ValidationScriptsPartial" />
</section>
