html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.dataTables_filter input {
    color: white;
    background-color: black;
}
.dataTables_length select {
    color: white;
    background-color: black;
}
.dataTables_length option {
    color: black;
    background-color: white;
}
.dataTables_wrapper label{
    color:white;
}
.dataTables_info{
    color:white!important;
}

