@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center row">
    <h1 class="display-1">Dobrodošli</h1>
    <h4 class="display-9">na stranicu WAZOT</h4>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="text-center row">
    <h4 class="display-9">Recenzije</h4>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="bs-component">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="mb-0">Najbolja stranica za učenje. Vrlo kvalitetni tečajevi.</p>

                </blockquote>
                <figcaption class="blockquote-footer">
                    Recenziju napisao <cite title="Source Title">Jurica Jurić</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="mb-0">Ima jako dobrih i korisnih tečajeva, preporučam svima!</p>

                </blockquote>
                <figcaption class="blockquote-footer">
                    Recenziju napisao <cite title="Source Title">Marko Marković</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="mb-0">Puno sam stvari ovdje naučio. Sviđa mi se jednostavnost stranice.</p>

                </blockquote>
                <figcaption class="blockquote-footer">
                    Recenziju napisao <cite title="Source Title">Pero Perić</cite>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>