@{
    ViewData["Title"] = "O nama";
}

<div class="text-center row">
    <h1 class="display-1">O nama</h1>
</div>
<div class="progress row">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row align-items-start mt-2">
    <div class="col-lg-4">
        <div class="card border-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">Godina osnivanja</h4>
                <p class="card-text">Osnovani smo 2022. godine u Virovitici.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">Kreator stranice</h4>
                <p class="card-text">Kreator stranice je Nikola Stjepanović.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-dark mb-3" s>
            <div class="card-body">
                <h4 class="card-title">Recenzije</h4>
                <p class="card-text">Većina recenzija na stranici je pozitivna.</p>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-start mt-2">
    <div class="col-lg-4">
        <div class="card border-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">Jednostavnost</h4>
                <p class="card-text">Vrlo je jednostavno koristiti našu stranicu.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">Tečajevi</h4>
                <p class="card-text">Tečajevi su dostupni 24/7 nakon kupnje.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-dark mb-3" s>
            <div class="card-body">
                <h4 class="card-title">Povrat novca</h4>
                <p class="card-text">Nudimo povrat novca.</p>
            </div>
        </div>
    </div>
    <div class="progress row">
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
